body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
}

.display input {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 2em;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
    background-color: #f2f2f2;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.operator {
    background-color: #f9a825;
    color: #fff;
}

.operator:hover {
    background-color: #f57f17;
}